

body {
    background-color:white;
    font-family: Helvetica;
    font-size: 22px;
    color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

#top {
    width:100%;
    height: 69px;
    position:fixed;
    top:0px;
    border-bottom: 1px solid black;
    display: block;
    background-color:white;

}
#logo {
    padding: 10px 0px;
    height: 55%;
    float:left;
}

.buttons {

    padding:10px 60px;
    float:left;
    height: 100%;
    display:table;
    color:black;
    font-size: 2.5rem;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.button {

    
    background-color: black;
    border: none;
    color: white;
    text-align: center;
     padding: 25px 32px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.wrapper {
    
    display:flex;
    align-items: center;
    background-color:black;
    color:white;
}
.wrapper2 {
    display:flex;
    align-items:center;
    background-color:white;
    color:black;
}


.h1 {
    font-size: 2.8rem;
    font-family:'Times New Roman', Times, serif;
}

.p1 {
    color:gray;
    font-family:'Times New Roman', Times, serif;
}

.h2 {

font-size: 2.8rem;
font-family:'Times New Roman', Times, serif;
padding-left: 150px;


}

.p2 {
color:gray;
font-family:'Times New Roman', Times, serif;
padding-left: 150px;


}


.h3 {
    font-size: 2.8rem;
    font-family:'Times New Roman', Times, serif;
    padding-left:150px;
    
}
.p3 {
    color:gray;
    font-family: 'Times New Roman', Times, serif;
    padding-left:150px;
    
}



#image1 {
    padding-left:250px;
}



#bottom {

    display:flex;
   
   
}

#image2 {
    width: 100%;
}


.socials {
    top: 200px;
   position: relative;
    display: inline-flex;
    background-color:white;
}

.p1soc {
   font-size: 1.2rem;
   color:gray;
}
.p2soc {
    font-size: 1.2rem;
    color:gray;
    padding-top:20px;
}


.social1 {
    padding-right:50px;
}
.social2 {
    padding-top:15px;
}
.social3 {
    padding-left: 50px;
}
